# Java / Spring Boot
target/
*.class
*.jar
*.war
*.iml
*.log
*.db
*.h2.db
*.sqlite
*.DS_Store

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# IDEs
.idea/
*.iws
*.ipr
*.bak

# Sistema
Thumbs.db
.DS_Store

# Logs
*.log

# Node
node_modules/
dist/
